// Global styles
// These styles are available on all pages.
// If a component has it's own styles, they can be found within the component's respective directory.
@tailwind base;
@tailwind components;
@tailwind utilities;

// @import 'breakpoints';
// @import 'css-variables';
// @import 'base';
// @import 'blocks';
// @import 'utilities';
@import "./lib-override.scss";
@import "./typography.scss";

* {
  word-break: break-word;
}

.container {
  @apply mx-auto px-5;
}

a {
  cursor: pointer;
}
#CybotCookiebotDialogNav
  .CybotCookiebotDialogNavItemLink.CybotCookiebotDialogActive {
  border-bottom: 1px solid #16a34a !important;
  color: #16a34a !important;
}
#CybotCookiebotDialogNav .CybotCookiebotDialogNavItemLink:hover {
  color: #16a34a !important;
}
#CybotCookiebotDialogFooter .CybotCookiebotDialogBodyButton {
  border: 2px solid #16a34a !important;
}
#CybotCookiebotDialogFooter #CybotCookiebotDialogBodyLevelButtonCustomize,
#CybotCookiebotDialogFooter
  #CybotCookiebotDialogBodyLevelButtonLevelOptinAllowallSelection {
  border: 2px solid #16a34a !important;
}
#CybotCookiebotDialogFooter
  #CybotCookiebotDialogBodyLevelButtonLevelOptinAllowAll {
  background-color: #16a34a !important;
  border-color: #16a34a !important;
}
#CookiebotWidget #CookiebotWidget-buttons #CookiebotWidget-btn-change {
  background-color: #16a34a !important;
  border-color: #16a34a !important;
}
#CookiebotWidget
  .CookiebotWidget-body
  .CookiebotWidget-consents-list
  li.CookiebotWidget-approved
  svg {
  fill: #16a34a !important;
}
